<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pets_section>
            <pets_group>
                <pets_field_enable>1</pets_field_enable>
            </pets_group>
        </pets_section>
    </default>
</config>
